@{
    ViewData["Title"] = "Gallery";
}

<link rel="stylesheet" href="@Url.Content("~/css/gallery.css")">

  <div class="wrap">

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../images/image1.png">
        <img src="@Url.Content("~/images/image1.png")">
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../images/image2.png">
        <img src="@Url.Content("~/images/image2.png")">
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../images/image3.png">
        <img src="@Url.Content("~/images/image3.png")" alt="Shrimp nigiri">
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../images/image4.png">
        <img src="@Url.Content("~/images/image4.png")" alt="Salmon nigiri">
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../images/image5.png">
        <img src="@Url.Content("~/images/image5.png")" alt="Tuna nigiri">
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../images/image6.png">
        <img src="@Url.Content("~/images/image6.png")" alt="Tai nigiri">
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../images/image7.png">
        <img src="@Url.Content("~/images/image7.png")" alt="Eel nigiri">
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../images/image8.png">
        <img src="@Url.Content("~/images/image8.png")" alt="Gyoza">
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../image9.png">
        <img src="@Url.Content("~/images/image9.png")" alt="Ramen">
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../images/image10.png">
        <img src="@Url.Content("~/images/image10.png")" alt="Sushi set">
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../images/image11.png">
        <img src="@Url.Content("~/images/image11.png")" alt="Sushi set">
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../images/image12.png">
        <img src="@Url.Content("~/images/image12.png")" alt="Crab roll">
      </a>
    </div>
  </div>
</div>
